# moje - NIE POKAZYWAC
ZADANIE_2.md
git.log
Kurs06*
a?
a??
a???

# Wyniki kompilacji .NET
bin/
obj/

# Pliki uzytkownika/IDE (Visual Studio, Rider)
*.user
*.suo
.vs/

# db
*.db
*.db-shm
*.db-wal

# Ustawienia lokalne VS Code (jesli kiedys powstana)
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Pliki systemowe Windows/macOS
Thumbs.db
.DS_Store
